.container-page{
    background: rgb(51 0 0 / 73%);
    background-image: url('https://i.pinimg.com/originals/ea/c8/ea/eac8ea2365b9bd83d9b36b5bc91fded3.jpg');
    background-repeat: repeat;
}
.wrapper-filter-section{
    padding: 12px 20px;
    margin-bottom: 30px;
}
.wrapper-form{
    display: inline-flex;
}
.wrapper-form > label{
    width: 30%;
    text-align: right;
}
.wrapper-form > input{
    width: 50%;
}
.wrapper-movie{
    margin-bottom: 12px;
}
.movie-list-info{
    display: block;
    list-style-type: none;
    text-align: end;
}
.movie-list-info li{
    display: inline;
    padding-left: 30px;
}